body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgb(37, 186, 186);
  }
.card{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(126, 98, 98, 0.12);
}